.BreadCrump {
  width: 100%;
}
.BreadCrump a {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 8px;
  text-decoration: none;
  color: #0100af;
}
.BreadCrump a i {
  vertical-align: bottom;
  padding-right: 5px;
}
.BreadCrump-link-disabled {
  color: rgba(255, 255, 255, 0.5) !important;
  pointer-events: none;
}
