.cls-2,
.cls-5 {
  fill: #e1e2fe;
}
.cls-3 {
  opacity: 0.31;
}
.cls-14 {
  fill: #ecf1f7;
}
.cls-5 {
  opacity: 0.47;
}
.cls-9 {
  fill: #3e479b;
}
.cls-10,
.cls-9 {
  opacity: 0.58;
}
.cls-10 {
  fill: #ef929c;
}
.cls-12 {
  fill: #599af2;
}
.cls-15 {
  fill: #fff;
}
